
<div class="container text-center" id="home-container">
  <div class="jumbotron">
    <h1 class="display-4"><%= t('.alpha_blog') %></h1>
    <p class="lead"><%= t('.lead') %></p>
    <hr class="my-4">
    <p><%= t('.subtitle') %></p>
    <%= link_to t('.signup'), signup_path, class: "btn btn-success btn-lg" %>
</div>


