
<div class="container text-center" id="home-container">
  <div class="jumbotron">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead"><%= t('pages.home.lead') %></p>
    <hr class="my-4">
    <p><%= t('pages.home.subtitle') %></p>
    <%= link_to t('pages.home.signup'), signup_path, class: "btn btn-success btn-lg" %>
</div>


