<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="d-flex justify-content-between mx-4">
    <small>Copyright &copy; Aniket Gade</small>
    <%= render 'layouts/locale_switcher' %>
  </div>
</footer>
